<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/stilos.css">
  </head>
  <body>

    <%- include('partials/head')%>

     <%-  include('partials/navegacion')%>

<div class="position-relative">
  <img src="img/pexels-suket-dedhia-671658.jpg" class="img-fluid " alt="" >
  <a href="/contacto"  class="btn btn-dark  w-25  position-absolute bottom-0 start-0 translate-middl-y ">contacto</a>  
  <a href="/principal" class="btn btn-dark   w-25  position-absolute bottom-0 start-0 translate-middl-y ">principal</a>

</div>


       <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
         <section>
           <h1 class="dispay-1">Bienvenido</h1>
             <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
             </p>
         </section>
       </main>


     <h1 class="text-sm-center m-1 p-4 text-capitalize">tablas de titulos</h1>



          <%- include('partials/tablas')%>
       <script src="src/index.js"></script>
  </body>
</html>
