<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%- include('partials/head')%>
    <%- include('partials/navegacion')%>

    <header class="container m-5">

  <div class="text-center ">
  <img src="img/pexels-creative-vix-9754.jpg" class="rounded" alt="600" width="600">
  <h1 class="display-1 text-uppercase fw-bold p-2">hello word</h1>
  <a href="/inicio" class="btn btn-primary w-25">comenzamos</a>
  </div>

    </header>

    <%- include('partials/footer')%>

  </body>
</html>
