<div class="position-relative " style="height: 1px;">
  <table class="table position-absolute  top-60 " class="tablas">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">titulos</th>
      </tr>
    </thead>
    <tbody id="cuerpoDeLaTabala">
         <th scope="row"  id=""></th>
    </tbody>
  </table>

</div>
